.title {
    font-family: 'Averia Libre';
    font-size: 3rem;
}

/*****************************
Spirit Total Rating System
*****************************/
.ghosts-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
   
  .ghosts-outer::before {
    content: "\f6e2 \f6e2 \f6e2 \f6e2 \f6e2";
    color: #6b6b6b;
  }
   
  .ghosts-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
   
  .ghosts-inner::before {
    content: "\f6e2 \f6e2 \f6e2 \f6e2 \f6e2";
    color: #490757;
  }

/*****************************
Spirit User Rating System
*****************************/
.user-rating input{
    display: none;
}

.user-rating label{
    font-size: 20px;
    color: #444;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    transition: all 0.2s ease;
  }

  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    color: #490757;
  }
  input:checked ~ label{
    color: #490757;
  }
  input#rate-5:checked ~ label{
    color: #550964;
    text-shadow: 0 0 20px #952;
  }
  /* .container form{
    display: none;
  } */
  input:checked ~ form{
    display: block;
  }